/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn";
}
html,
body {
  height: 100%;
  background-color: #f6f5f5;
}

.search-input :focus {
  border: none;
}
.search-input ::placeholder {
  margin-left: 5px;
}
